body {
    background-color: lightgray;
}

.page_phn {
    background-color: darkgray;
}

.page-item :active {
    border-color: darkgray;
    background-color: darkgray;
}

.page-link {
    color: white;
}